body {
  background: #000； //#aaa;
}
/* defines styles for each card */
.card {
  width: 168px;
  height: 244px;
  margin: 20px;
  background: #000000 ；//#efefef;
  position: absolute;
  transition: all 1s cubic-bezier(0.41, -0.47, 0.07, 1.49) 1s;
}
/* set the card to corresponding playing card graphics */
.cardAK {
  background: url(../images/screenshot.png);
}
.cardAQ {
  background: url(../images/screenshot.png);
}
/* rotate the applied DOM element 90 degree */
.rotateRight {
  -webkit-transform: rotate(270deg);//rotate3d(0,0,1,90deg);
}
/* move and scale up the applied DOM element */
.moveAndScale {
  -webkit-transform: translate3d(250px,250px,0) scale3d(1.5, 1.5,1);
}
